@page "/"
@using CertificationsQuiz.Infrastructure
@inject IQuizService quizService

<h1>Hello, world!</h1>

Welcome to your new app.

@if (quizzes != null)
{
    foreach(var quiz in quizzes)
    {
        @quiz.Certification
    }
}

@code
{
    public IEnumerable<Quiz> quizzes { get; set; }
    protected override async Task OnInitializedAsync()
    {
        quizzes = await quizService.Get();
    }
}
