@page "/"
@using CertificationsQuiz.Infrastructure
@inject IQuizService quizService

<h1>Certification Quizzes</h1>

<a class="btn btn-primary" href="/quiz/new" role="button">Create Quiz</a>

@if (_quizzes == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th></th>
            <th>Certification</th>
            <th>Section</th>
            <th>Subsection</th>
            <th>Topic</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var quiz in _quizzes)
        {
            <tr>
                <td><input type="checkbox" /></td>
                <td>@quiz.Certification</td>
                <td>@quiz.Section</td>
                <td>@quiz.Subsection</td>
                <td>@quiz.Topic</td>
                <td><a href="/Quiz/@quiz.Id/Edit"><span class="material-icons">edit</span></a></td>
                <td><a href="#" @onclick="() => DeleteQuiz(quiz.Id)"><span class="material-icons">delete</span></a></td>
            </tr>
        }
        </tbody>
    </table>
}

@code
{
    IEnumerable<Quiz> _quizzes;

    protected override async Task OnInitializedAsync() => _quizzes = await quizService.Get();

    async Task DeleteQuiz(string id)
    {
        await quizService.Delete(id);
        _quizzes = _quizzes.Where(x => x.Id != id);
    }
}
