<form class="row g-3">
    <div class="col-auto">
        <label class="form-label">Incorrect choice</label>
    </div>
    <div class="col-auto">
        <MarkdownEditor Id="choice" EditMode="EditMode.Markdown" LockEditMode="true" 
                        PreviewStyle="MarkdownPreviewStyle.Tabs" @bind-Value="_command" />
    </div>
    <div class="col-auto">
        <button type="button" class="btn btn-primary" @onclick="() => Add(_command)">Add</button>
    </div>
</form>

@if(Choices != null)
{
    <table class="table">
        <thead>
        <tr>
            <th>Incorrect choices</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var choice in Choices)
        {
            <tr>
                <td>@choice</td>
                <td><a @onclick="() => Choices = Choices.Where(x => x != choice)"><span class="material-icons">delete</span></a></td>
            </tr>
        }
        </tbody>
    </table>
}

@code {

    [Parameter]
    public IEnumerable<string> Choices { get; set; }

    string _command = "";

    void Add(string choice) => Choices = Choices == null ? new List<string>() {choice} : Choices.Append(choice);
}